
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.quicksand {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* shared styles */
.display-flex {
    display: flex;
}
.black {
    color: black;
}
.t-dec {
    text-decoration: none;
}

/* nav styles */

.logo-des {
    font-weight: bold;
    font-size: 2rem;
    margin-top: 1rem;
}
.logo-pic {
    height: 62px;
}
.home-1 {
    color: orange;
    font-weight: bold;
    font-size: 1.25rem;
    padding-right: 1rem;
}
.about-1 {
    color: skyblue;
    font-weight: 500;
    font-size: 1.25rem;
    padding: 0rem 1rem;
}
.facilities-1 {
    color: #05D4DF;
    font-weight: 500;
    font-size: 1.25rem;
    padding: 0rem 1rem;
}
.admission-1 {
    color: #5D58EF;
    font-weight: 500;
    font-size: 1.25rem;
    padding-left: 1rem;
}
.btn-1 {
    border: none;
    font-size: 1.25rem;
    font-weight: 600;
    color: #FFFFFF;
    background-color: orange;
    padding: .625rem 3.75rem;
    border-radius: 12px;
}
.navbar {
    justify-content: space-between;
    align-items: center;
    padding: 20px 140px;
}
.link-1 {
    display: flex;
    gap: 1.25rem;
}
.menu-toggle {
    display: none;
    font-size: 1.25rem;
    background: none;
    border: none;
    cursor: pointer;
}
/* banner styles */
.banner {
    margin: 0px 140px;
}
.banner-des {
    padding: 7.5rem 3rem 7.5rem 0rem;
}
.ban-title {
    font-size: 3.5rem;
    font-weight: bold;
}
.ban-des {
    font-size: 1.25rem;
    font-weight: 400;
    padding: 1.5rem 0rem;
}
.ban-btn {
    font-size: 1.25rem;
    font-weight: bold;
    color: #FFFFFF;
    background-color: black;
    padding: .6rem 3rem;
    border-radius: 12px;
}
/* curriculum styles */
.curriculums {
    text-align: center;
    padding: 3.75rem 8.75rem;
}
.curriculum-title {
    font-size: 3rem;
    font-weight: bold;
    color: #000000;
}
.curriculum {
    padding: 5rem 0rem;
    display: flex;
    justify-content: space-between;
    gap: 2.75rem;
}
.box {
    text-align: center;
    padding: 3.75rem 2.5rem 3.5rem 2.5rem;
    border-radius: 19px;
}
.pic-b {
    width: 9rem;
    height: 9rem;
}
.title-b {
    font-size: 1.5rem;
    font-weight: bold;
    color: #202020;
    padding: 2rem 0rem;
}
.des-b {
    font-size: 1rem;
    font-weight: 500;
    color: #808080;
}
.more-b {
    font-size: 1rem;
    font-weight: bold;
    padding-top: 2rem;
}
.bg-gr-1 {
    background: linear-gradient(#DEF5FF, #FFFFFF);
    border: 1px solid #DEF5FF;
}
.bg-gr-2 {
    background: linear-gradient(#FFF4DC, #FFFFFF);
    border: 1px solid #FFF4DC;
}
.bg-gr-3 {
    background: linear-gradient(#F2E8FF, #FFFFFF);
    border: 1px solid #F2E8FF;
}
.btn-2 {
    font-size: 1.5rem;
    font-weight: 600;
    color: #FFFFFF;
    background-color: orange;
    padding: 1rem 1.35rem;
    border: none;
    border-radius: 30px;
    margin: .25rem;
}

@media screen and (max-width: 768px) {
    .link-1, .btn-pri, .logo-des {
        display: none;
        flex-direction: column;
        
    }
    #nav-section {
        border: 1px solid orange;
    }
    .navbar {
        text-align: right;
        margin: .75rem 1rem;
        display: flex;
        justify-content: space-between;
        padding: 0px;
    }
    .menu-toggle {
        display: block;
        height: 30px;
        width: 30px;
    }
    .btn-pri {
        display: none;
    }
    .banner {
        flex-direction: column-reverse;
        margin: .5rem 1rem;
        align-items: center;
        text-align: center;
    }
    .banner-des {
        padding: 0px;
    }
    .ban-title {
        font-size: 1.9rem;
    }
    .ban-des {
        font-size: 1rem;
        font-weight: 500;
        padding: 1.25rem 0rem;
    }
    .ban-btn {
        font-size: 1rem;
        padding: .5rem 1.5rem;
        border-radius: 8px;
    }
    .ban-pic {
        width: 21rem;
        padding: 1.25rem 0rem;
    }
    .curriculums {
        padding: 2.5rem 1rem 1.23rem;
    }
    .curriculum-title {
        font-size: 1.75rem;
    }
    .curriculum {
        flex-direction: column;
        padding: 1.25rem 0rem;
        gap: .75rem;
    }
    .box {
        max-height: 21rem;
    }
    .pic-b {
        height: 6rem;
        width: 6rem;
    }
    .title-b {
        font-size: 1rem;
        padding: 1.5rem 0rem;
    }
    .more-b, .des-b {
        font-size: .625rem;
    }
    .btn-sec {
        display: none;
    }

}