
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.quicksand {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* shared styles */
.display-flex {
    display: flex;
}
.black {
    color: black;
}
.t-dec {
    text-decoration: none;
}

/* nav styles */

.logo-des {
    font-weight: bold;
    font-size: 2rem;
    margin-top: 1rem;
}
.logo-pic {
    height: 62px;
}
.home-1 {
    color: orange;
    font-weight: bold;
    font-size: 1.25rem;
    padding-right: 1rem;
}
.about-1 {
    color: skyblue;
    font-weight: 500;
    font-size: 1.25rem;
    padding: 0rem 1rem;
}
.facilities-1 {
    color: #05D4DF;
    font-weight: 500;
    font-size: 1.25rem;
    padding: 0rem 1rem;
}
.admission-1 {
    color: #5D58EF;
    font-weight: 500;
    font-size: 1.25rem;
    padding-left: 1rem;
}
.btn-1 {
    border: none;
    font-size: 1.25rem;
    font-weight: 600;
    color: #FFFFFF;
    background-color: orange;
    padding: .625rem 3.75rem;
    border-radius: 12px;
}
.navbar {
    justify-content: space-between;
    align-items: center;
    padding: 20px 140px;
}
.link-1 {
    display: flex;
    gap: 1.25rem;
}
.menu-toggle {
    display: none;
    font-size: 1.25rem;
    background: none;
    border: none;
    cursor: pointer;
}
.banner {
    margin: 0px 140px;
}
.banner-des {
    padding: 7.5rem 3rem 7.5rem 0rem;
}
.ban-title {
    font-size: 3.5rem;
    font-weight: bold;
}
.ban-des {
    font-size: 1.25rem;
    font-weight: 400;
    padding: 1.5rem 0rem;
}
.ban-btn {
    font-size: 1.25rem;
    font-weight: bold;
    color: #FFFFFF;
    background-color: black;
    padding: .6rem 3rem;
    border-radius: 12px;
}

@media screen and (max-width: 768px) {
    .link-1, .btn-pri, .logo-des {
        display: none;
        flex-direction: column;
        
    }
    #nav-section {
        border: 1px solid orange;
    }
    .navbar {
        text-align: right;
        margin: .75rem 1rem;
        display: flex;
        justify-content: space-between;
        padding: 0px;
    }
    .menu-toggle {
        display: block;
        height: 30px;
        width: 30px;
    }
    .btn-pri {
        display: none;
    }
}